* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     font-family: 'Dosis', sans-serif;
}
body{
  background-color: silver;
  background: url("../images/cosmosbg.jpg") no-repeat;
  background-size: cover;
  width:100%;

}
button{
  float: left;
  font-size: 2.0em;
  font-weight: bold;
  height:80px;
  width:30%;
  margin-left:2%;
  color:gray;
  /* font-family: 'Dosis', sans-serif; */
}
footer{
  clear: both;
  font-size: 2em;
  margin-left: 40%;
  color:rgb(24, 126, 114);
}
h1{
  width: 100%;
  font-size: 3.5em;
  color: purple;
  margin-left: 35%;
}
h1, h2{
  float: left;
  width: 100%;
}
h2{
  font-size: 2.3em;
  font-weight: 900;
  color:rgba(177, 9, 145, 0.80);
  margin-left: 30%;
  width: 50%;
  padding-left: 5%;
}

input{
  float: left;
  height:80px;
  width:30%;
  margin-left: 3%;
  padding: 10px 0 5px 5%;
  background-color: black;
  /* font-family: 'Dosis', sans-serif; */
  font-size: 2em;
  color:rgb(24, 126, 114);
}
button, input, h2{
    border-radius: 45%;
    border-style: hidden;
    background:url("../images/cosmosbg.jpg");
}
#zodiacContain{
  margin: 1% 0 1% 30%;
  border-radius: 50%;
  border: 3px solid rgba(114, 24, 163, 0.81);
  height:400px;
  width:40%;
  float: left;
}
#zodiacResult{
  float: left;
  text-align: center;
  padding-top: 19%;
  margin: 1% 0 1% 1%;
  font-size: 1.6em;
  line-height: 60px;
  /* padding:10px; */
  height:410px;
  width:100%;
  color:rgb(24, 126, 114);
  background:url("../images/cosmosbg.jpg");
  background-position: left;
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS67WuZoQMyd9Drj6FGKEeOtGqBUGZkFg7EMSZpxfHok12-2N87dg"); */
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/* #zodiac{ */
  /* float: left; */
  /* margin: 8% 0 1% 1%; */
  /* background: purple; */
  /* color:white; */
  /* border: none; */
  /* padding: 30px 15px; */
  /* font-size: 1.4em; */
  /* font-weight: bold; */
  /* border: 1px solid white; */
/* } */
