* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
     font-family: 'Dosis', sans-serif;
}
body{
  background-color: silver;
  background: url("../images/cosmosbg.jpg") no-repeat;
  background-size: cover;
  /* width:100%; */

}
button{
  float: left;
  font-size: 2.0em;
  font-weight: bold;
  height:80px;
  width:30%;
  margin-left:2%;
  color:gray;
  /* font-family: 'Dosis', sans-serif; */
}

h1{
  width: 45%;
  font-size: 3.0em;
  color: purple;
  margin: 1% 0 1% 30%;
}

/* h2{
  float: left;
  font-size: 2.3em;
  font-weight: 900;
  color:rgba(177, 9, 145, 0.80);
  margin-left: 30%;
  width: 50%;
  padding-left: 5%;
} */

input{
  float: left;
  height:80px;
  width:30%;
  margin-left: 3%;
  padding: 10px 0 5px 5%;
  background-color: black;
  /* font-family: 'Dosis', sans-serif; */
  font-size: 2em;
  color:rgb(24, 126, 114);
}
button, input, h2{
    border-radius: 45%;
    border-style: hidden;
    background:url("../images/cosmosbg.jpg");
}
span{
  clear: left;
  font-size: 1.5em;
  /* margin-top: 30%; */
  color:rgb(24, 126, 114);
}
#zodiacContain{
  margin: 1% 0 1% 0%;
  /* border-radius: 50%; */
  /* border: 3px solid rgba(114, 24, 163, 0.81); */
  height:400px;
  width:100%;
  float: left;
}
#zodiacResult{
  float: left;
  text-align: center;
  padding: 10% 0 1% 0;
  margin: 1% 0 1% 30%;
  font-size: 1.6em;
  line-height: 60px;
  height:410px;
  width:45%;
  color:rgb(24, 126, 114);
  background:url("../images/cosmos.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* border-radius: 50%; */
}
